/* CSS Table */

	body,ul,li,.main,.floatsection,.rightsdeclare,.rightsdeclarearea,.titleversion,.input{
	font-family: "Noto Sans";
	color:#000000;
	}
	
	/*取消連結底線*/
	a,a:hover,a:active{
	text-decoration:none;
	}
	
	img.imglink {
    max-height: 3rem;
	}

	body{
	background: #FDFCFC;
	}

	/*文字主色，標題、版權宣告、按鈕及搜尋結果區連結*/
	.themeTextColor,.clicklink,a.resultlink:hover {
	color: #2ba31b;
	}

	.main{
	font-weight: 400;
	font-size: 1.1rem;
	line-height: 2rem;
	text-align: center;
	}
	
	.resultHeader
	{
	color:#000000;
	}
	
	.clicklink{
	padding:0.3rem 0.5rem;
	border: none;
	border-radius:5px;
	transition:all 0.5s;
	}
	
	.clicklink:hover{
	padding:0.3rem 0.5rem;
	color:#FFFFFF;
	background:#2BA31B;
	box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.5) ;
	}
	
	a.resultlink{
	color:#4D4D4D;
	border-radius:5px;
	transition:color 0.2s;
	}
	
	td.resultoutline{
	border-color: #7d7d80;
	border-width: 1px;
	border-style: solid;
	}
	
	/*覆蓋預設按鈕效果*/
	.btn:focus, .btn:hover, .btn:active {
	text-decoration: none;
	background: #2ba31b;
	border-radius:0px;
	color: white;
	}
	
	.rapidrequest{
	color:#000000;
	padding:0.3rem 0.5rem;
	border: none;
	border-radius:5px;
	background:#99C4FF;
	transition:background 0.3s;
	}
	
	.rapidrequest:hover{
	background:#CCE2FF;
	}
	
	.hpvdb{
	text-align:left;
	margin-left:1rem;
	/*margin-top:1rem;*/
	transition:color 0.5s;
	}
	
	.hpvdb:hover{
	color:#000000
	}
	
	ul{
	list-style-type:none;
	}
	
	li{
	display:inline;
	margin: 10px;
	}
	
	.floatnav{
	top:0px;
	left:0px;
	right:0px;
	position:fixed;
	/*height:30%;*/
	width:100%;
	background:#FDFCFC;
	/*opacity:1.0;*/
	z-index:3;
	}
	
	.rightsdeclare {
	/*padding: 10px 5px;*/
	font-weight: 400;
	font-size:16px;
	text-align: center;
	/*text-shadow: 0.5px 0.5px 1px #000000;*/
	margin:0px auto;
	/*margin-bottom:5px;*/
	}
	
	.rightsdeclarearea{
	padding: 5px 10px 10px 0px;
	width:100%;
	height:auto;
	/*left:100%;
	right:100%;*/
	bottom: 0px;
	position:fixed;
	border: none;
	border-radius: 5px;
	background: #fdfcfc;
	}
	
	.updatetime{
	margin-top:20px;
	margin-bottom:20px;
	text-align: center;
	}
	
	.titleversion{
	font-size:0.6rem;
	padding:0.1rem 0.3rem;
	margin:0.5rem;
	color:#000000;
	background:#BABABA;
	border: none;
	border-radius:5px;
	box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.5)
	}

	.input {
	padding: 10px 10px;
	font-size:2rem;
	color:#000000;
	text-align:center;
	background:#FFFFFF;
	border: 1px solid #b7b7b7;
	border-style:solid;
	/*border-radius:5px;*/
	border-width:1px;
	box-sizing: content-box;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
	text-shadow:1px 1px 2px rgba(0,0,0,0.3);
	} 
		
	.input[type="submit"] {
	padding: 10px 30px;
	color: #ffffff;
	text-shadow: 1px 1px 2px #000000;
	text-decoration: none;
	text-align: center;
	background: #2BA31B;
	border-radius: 5px;
	border: none;
	box-sizing: content-box;
	box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.3) ;
	}

